

.ck-content {
	max-width: 630px;
	margin: 0 auto;
	padding: 0 20px;
}

.ck-content,
.ck-heading-dropdown .ck-list .ck-button__label {
	font: 17px/145% "PT Serif", Georgia, serif;
}


/* Adjust the headings dropdown to host some larger heading styles. */
.ck-heading-dropdown .ck-list .ck-button__label {
	line-height: calc( 1.7 * var(--ck-line-height-base) * var(--ck-font-size-base) );
	min-width: 6em;
}

/* Scale down all heading previews because they are way too big to be presented in the UI.
Preserve the relative scale, though. */
.ck-heading-dropdown .ck-list .ck-button:not(.ck-heading_paragraph) .ck-button__label {
	transform: scale(0.8);
	transform-origin: left;
}

/* Set the styles for "Heading 1". */
.ck-content h2,
.ck-heading-dropdown .ck-heading_heading1 .ck-button__label {
	font-size: 21px;
	font-weight: normal;
	color: #222;
	font-family: 'PT Serif', serif;
}

.ck-content h2 {
	font-size: 21px;
	font-weight: normal;
	color: #222;
	font-family: 'PT Serif', serif;
}

/* Set the styles for "Heading 2". */
.ck-content h3,
.ck-heading-dropdown .ck-heading_heading2 .ck-button__label {
	font-size: 18px;
	color: #222;
	font-family: 'PT Serif', serif;
}

.ck-heading-dropdown .ck-heading_heading2.ck-on .ck-button__label {
	color: var(--ck-color-list-button-on-text);
}

/* Set the styles for "Heading 2". */
.ck-content h3 {
	font-size: 18px;
	color: #222;
	font-family: 'PT Serif', serif;
}

/* Set the styles for "Heading 3". */
.ck-content h4,
.ck-heading-dropdown .ck-heading_heading3 .ck-button__label {
	font-size: 1.31em;
	font-weight: bold;
}

.ck-content h4 {
	line-height: 1.24em;
	padding-top: .286em;
	margin-bottom: .952em;
}

/* Set the styles for "Paragraph". */
.ck-content p {
	font-size: 1em;
	margin-bottom: 0.5em;
}


